@import url("https://use.typekit.net/pgf5wor.css");

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .1s ease; 
}

html {
    scroll-behavior: smooth;
}

#hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 25px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
  }
  
  #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
    top: 12px;
  }
  
  #hamburger span:nth-child(4) {
    top: 24px;
  }
  
  #hamburger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }
  
  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.echo-thumb {
    width: 8.5em!important;
    margin-top: 1.4em;
}

.eos-thumb {
    width: 18em;
    margin-top: 2.3em;
}

.wts-thumb {
    width: 23em;
    margin-top: 1.8em;
}

.goodies-thumb {
    width: 11.5em;
    margin-top: 1.9em;
}
 
.stellar-thumb {
    margin-top: 6.8em;
    width: 23em;
}

.cs-thumb {
    margin-top: 5em;
    width: 22em;
}

.salus-thumb {
    width: 25em!important;
    margin-top: 4.3em;
}

.project-thumb {
    -webkit-transition: transform ease-out 0.3s;
    -moz-transition: transform ease-out 0.3s;
    -o-transition: transform ease-out 0.3s;
    transition: transform ease-out 0.3s;
}

.project:hover a img,
.project:focus a img {
    transform: scale(1.05);
    border-radius: 5%;
}

.col-md-2 a,
.col-sm a,
.content-mrg a {
    color: #662af2;
}

.col-md-2 a:hover,
.col-sm a:hover,
.content-mrg a:hover {
    color: #000!important;
    text-decoration-line: none;
}

/* a.p-thumb {
    text-decoration:none;
    position:relative;
    color: #000;
}
.p-thumb span#thumb {
    display:none;
}
.p-thumb:hover span#thumb {
    display:block;
    position:fixed;
    overflow:hidden;
} */

.wts-constraints {
    width: 50vw;
}

.shadow {
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.05);
}

.wrap {
    height: 425px;
    width: 425px;
    overflow: hidden;
    border-radius: 3.5%;
    margin: 1.5em 0;
    display: flex;
    position: relative;
    background-color: rgb(248, 248, 248);
    transition: .3s all ease-out;
}

.wrap:hover {
    background: #eeeef7;
    box-shadow: rgba(53, 49, 68, 0.25) 0px 25px 50px -12px;
}

.logo {
    width: 80px!important;
    margin-left: .5em;
}

.nav-link {
    color: #000;
    letter-spacing: 0.1em;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    width: 8em;
}

.navbar-brand {
    width: 6em;
}

.nav-items {
    margin-top: 2em;
}

.nav-link.active, 
.nav-link:hover {
    color: #662af2!important;
    transition: all 0.3s;
    font-weight: 500!important;
}

.dot {
    height: 11px;
    width: 11px;
    background-color: #662af2;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

.serif, 
.project-nav a,
.landing-mrg {
    font-family: itc-benguiat, serif;
    font-weight: 400;
    font-style: normal;
}

h4 .dot {
    margin: 1rem;
    background-color: #662af2!important;
    width: 11px!important;
    height: 11px!important;
}

h4 {
    font-weight: 300!important;
}

h6 {
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}

.spacing {
    font-size: .8rem!important;
    letter-spacing: 0.08em!important;
}
 
.project-show p, ul, p.desc {
    line-height: 2.2em;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 1.1em;
}

.project-show h6 {
    font-weight: 600;
}

.project-show h3, 
.exp h4,
.edu h4,
.sk h4,
.about-mrg,
.footer a {
    letter-spacing: 0.04em;
    line-height: 1.7em;
}

.p0 {
    top: -1.4em;
}

.stellar-vid {
    margin: 6em 0 3em 0;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
}

.cc-vid {
    margin: 2em 0 2em 0;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

.goodies-vid {
    width: 30%;
}


.echo-vid {
    width: 60%!important;
}

.goodies-spread {
    margin-bottom: 10rem;
}

.mrg-top-btm {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.mrg-btm {
    margin-bottom: 8rem;
}

.about-mrg {
    margin-top: 7.3rem;
    margin-bottom: 12rem;
    line-height: 1.75em;
    font-weight: 400;
}

.mobile-hr,
.mobile-br,
.mobile {
    display: none;
}

.ul-mrg {
    margin-left: 1.5em;
}

.resize {
    width: 43.5em;
    margin: 1em 0 1em 0;
}

.wts-resize {
    width: 32em;
}

.img-mrg {
    margin: 2em 0 2em 0;
}

.landing-mrg {
    margin-top: 7.5rem;
    margin-bottom: 3.5rem;
}

.content-mrg {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hl {
    color: #662af2;
}

#resume {
    margin-top: 7rem;
}

.footer,
.project-nav {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.project-nav svg {
    vertical-align: middle!important;
}

.contact {
    margin-bottom: 4rem;
}

.footer a,
.project-nav a {
    color: #000;
    text-decoration: none;
}

.footer a:hover,
.project-nav a:hover {
    text-decoration: none;
    color: #662af2;
    transition: all 0.3s linear;
    cursor: pointer;
}

.contact a {
    text-decoration: none;
    color: #662af2;
}

.contact a:hover {
    color: #000!important;
    transition: all 0.3s linear;
    cursor: pointer;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 100px) 
and (max-device-width : 515px) {

    .hide {
        display: none;
    }

    .logo {
        width: 65px!important;
    }

    .nav-items {
        margin-top: 1.5em;
    }

    .nav-link {
        padding: 0.9rem!important;
        display: block;
        font-size: 1em;
    }

    .navbar-brand {
        margin-right: 0em!important;
        width: 3em!important;
    }

    .overlay {
        background-color: ghostwhite;
        height: 100%;
        transition:all 0.3s ease-in-out;
    }

    .mobile-br,
    .mobile-hr,
    .mobile {
        display: block;
    }

    .wts-constraints {
        width: 100vw;
    }

    .mobile ul {
        list-style-type:none;
        padding:0;
        margin:0;
        position:absolute;
        top:170px;
        text-align: end;
        transition:all 0.3s ease-in-out;
        transform:translateX(-50%);
        display: none;
    }

    .mobile ul li a {
        text-decoration: none;
        line-height: 4em;
        color: #000;
        transition:all 0.3s ease-in-out;
    }

    .mobile ul li a.active {
        color: #662af2;
    }

    .mrg-top-btm {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important;
    }

    .about-mrg {
        margin-top: 7rem!important;
        margin-bottom: 7rem!important;
         line-height: 2rem!important;
    }

    .wrap, .wts-wrap {
        width: 21em;
        height: 21em;
        margin: 0 auto;
        margin-bottom: 1.9em;
    }

    .echo-thumb {
        width: 7em!important;
        margin-top: 1em;
    }

    .wts-thumb {
        width: 18em;
    }

    .eos-thumb {
        width: 15em;
    }
    
    .goodies-thumb {
        margin-top: 1.9em;
        width: 9em;
    }

    .cs-thumb {
        margin-top: 4em;
        width: 19em;
    }
 
    .stellar-thumb {
        margin-top: 5em;
        width: 18em;
    }
    
    .goodies-media-wrap {
        height: 670px;
    }

    .goodies-vid {
        width: 80%!important;
    }

    .echo-vid {
        width: 95%!important;
    }

    h4 {
        line-height: 2.35rem!important;
        font-size: 1.3rem!important;
    }

    .project-show ul {
        margin-left: 1.75em;
    }
    
    .p0 {
       top: 0em;
    }

    .name, .contact, h3 {
        font-size: 1.4rem!important;
    }

    .footer, 
    .project-nav {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .footer a,
    .contact a {
        color: #662af2!important;
    }

    iframe {
        width: 345px!important;
        height: 200px!important;
    }
}    

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    .navbar-brand {
        width: 70px;
    }

    .container {
        margin-left: 5em;
    }

    .tb-hide {
        display: none;
    }

    .about-mrg {
        margin-bottom: 6rem;
        line-height: 1.75em;
    }

    .wrap {
        height: 280px;
        width: 280px;
    }

    .wts-thumb {
        width: 15em;
        margin-top: 1.2em;
    }

    .eos-thumb {
        width: 12em;
    }

    .goodies-thumb {
        width: 7.5em;
        margin-top: 1.2em;
    }

    .cs-thumb {
        width: 15em;
        margin-top: 3.2em;
    }

    .stellar-thumb {
        margin-top: 4.2em;
        width: 16em;
    }

    .tablet-br {
        display: block;
    }

    .dot {
        height: 4px;
        width: 4px;
    }

    iframe {
        width: 720px!important;
        height: 400px!important;
    }
      
    .footer a,
    .contact a {
        color: #662af2!important;
    }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 1024px) 
and (orientation : portrait) {

    .container {
        margin-left: 4em;
    }

    .wrap {
        height: 360px;
        width: 360px;
    }

    .wts-thumb {
        width: 19em;
    }

    .eos-thumb {
        width: 16em;
    }

    .goodies-thumb {
        width: 9.5em;
    }

    .cs-thumb {
        width: 19em;
    }

    .stellar-thumb {
        margin-top: 5.8em;
        width: 20em;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

}