@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url("https://use.typekit.net/pgf5wor.css");

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all .1s ease; 
}

html {
    scroll-behavior: smooth;
  }

.goodies-thumb {
    width: 11.5em;
    margin-top: 1.9em;
}

.challenge-thumb, 
.stellar-thumb {
    margin-top: 6.8em;
    width: 23em;
}

.project-thumb {
    -webkit-transition: transform ease-out 0.3s;
    -moz-transition: transform ease-out 0.3s;
    -o-transition: transform ease-out 0.3s;
    transition: transform ease-out 0.3s;
}

.project:hover a img,
.project:focus a img {
    transform: scale(1.1);
    border-radius: 5%;
}

.wrap {
    height: 425px;
    width: 425px;
    overflow: hidden;
    border-radius: 3.5%;
    margin-bottom: 1.5em;
    display: flex;
    position: relative;
    background-color: #f2f2f2;
}

.logo {
    width: 90px!important;
}

.nav-link {
    color: #000;
    letter-spacing: 0.1em;
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    width: 8em;
}

.navbar-brand {
    width: 6em;
}

.nav-items {
    margin-top: 2em;
}

.nav-link.active, 
.nav-link:hover {
    color: #2fe0ac!important;
    transition: all 0.3s;
    font-weight: 500!important;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #2fe0ac;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

.serif {
    font-family: 'Rufina', serif;
}

h4 .dot {
    margin: 1rem;
    background-color: #2fe0ac!important;
    width: 8px!important;
    height: 8px!important;
  }

h6 {
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}

.spacing {
    font-size: .8rem!important;
    letter-spacing: 0.08em!important;
}
 
.project-show p, ul, p.desc {
    line-height: 1.75em;
    letter-spacing: 0.05em;
}

.project-show h6 {
    font-weight: 600;
}

.stellar-vid {
    margin: 6em 0 3em 0;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
}

.cc-vid {
    margin: 2em 0 2em 0;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1); 
    width: 100%;
}

.goodies-vid {
    width: 30%;
}

.goodies-spread {
    margin-bottom: 10rem;
}

.goodies-media-wrap {
    display: flex;
}

.mrg-top-btm {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.mrg-btm {
    margin-bottom: 8rem;
}

.about-mrg {
    margin-top: 7.3rem;
    margin-bottom: 12rem;
    line-height: 1.75em;
}

.mobile-hr {
    display: none;
}

.ul-mrg {
    margin-left: 1.5em;
}

.resize {
    width: 43.5em;
    margin: 1em 0 1em 0;
}

.img-mrg {
    margin: 2em 0 2em 0;
}

.landing-mrg {
    margin-top: 7.5rem;
    margin-bottom: 3.5rem;
}

.footer,
.project-nav {
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.project-nav svg {
    vertical-align: middle!important;
}

.contact {
    margin-bottom: 4rem;
}

.footer a,
.contact a,
.project-nav a {
    text-decoration: none;
    color: #000;
}

.footer a:hover,
.contact a:hover,
.project-nav a:hover {
    color: #2fe0ac!important;
    transition: all 0.3s linear;
    cursor: pointer;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 515px) {

    .hide {
        display: none;
    }

    .shadow-onscroll {
        background-color: white;
        transition: all 0.2s linear;
        height: 4.5em;
    }

    .shadow-onscroll.active {
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 65px!important;
    }

    .nav-items {
        margin-top: 1.5em;
    }

    .nav-link {
        padding: 0.9rem!important;
        display: inline;
        font-size: 1em;
    }

    .navbar-brand {
        margin-right: 0em!important;
        width: 3em!important;
    }

    .mobile-br {
        display: block;
    }

    .mobile-hr {
        display: block;
    }

    .mrg-top-btm {
        margin-top: 5rem!important;
        margin-bottom: 5rem!important;
    }

    .about-mrg {
        margin-top: 7rem!important;
        margin-bottom: 7rem!important;
         line-height: 2.8rem!important;
    }

    .wrap {
        width: 22em;
        height: 22em;
        margin: 0 auto;
        margin-bottom: 1.9em;
    }

    .goodies-thumb {
        margin-top: 1.9em;
        width: 9em;
    }

    .challenge-thumb, 
    .stellar-thumb {
        margin-top: 5em;
        width: 18em;
    }

    .goodies-vid {
        width: 80%!important;
    }

    .goodies-wrap {
    background-color: #DDF9EF!important;
    }

    .stentor-wrap {
        background-color: #d8d5e7!important;
    }

    .cc-wrap {
        background-color: #dce8f4!important;
    }

    .stellar-wrap {
        background-color: #dfddda!important;
    } 

    h4 {
        line-height: 2.5rem!important;
    }

    .project-show ul {
        margin-left: 1.75em;
    }

    .name, .contact, h3 {
        font-size: 1.7rem!important;
    }

    .footer {
        margin-top: 8rem;
        margin-bottom: 2rem;
    }

    .footer a,
    .contact a {
        color: #2fe0ac!important;
} 

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    .navbar-brand {
        width: 70px;
    }

    .shadow-onscroll {
        background-color: white;
        transition: all 0.2s linear;
    }

    .shadow-onscroll.active {
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    }

    .tablet-br {
        display: block;
    }

    .dot {
        height: 4px;
        width: 4px;
      }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

}}