@import url('https://fonts.googleapis.com/css?family=Rufina&display=swap');
@import url("https://use.typekit.net/pgf5wor.css");

h2 {
    line-height: 3.75rem!important;
}

.work-li {
    padding: 0;
}

.work-li li {
    -webkit-transition: opacity ease-out 0.3s;
    -moz-transition: opacity ease-out 0.3s;
    -o-transition: opacity ease-out 0.3s;
    transition: opacity ease-out 0.3s;
    list-style: none;
}

.work-li li a {
    font-size: 1.75rem!important;
    color: #000;
    padding-top: 1.5rem;
}

.work-li li a:hover {
    text-decoration-line: none;
}

.work-li:hover > li {
    opacity: 0.32;
}

.work-li:hover > li:hover {
    opacity: 1;
}

.logo {
    width: 90px!important;
}

.nav-link {
    color: #000;
    padding: .5rem 2.5rem;
    letter-spacing: 0.1em;
}


.nav-link.active, .nav-link:hover {
    color: #2fe0ac!important;
    transition: all 0.3s;
}

.dot {
    height: 7px;
    width: 7px;
    background-color: #2fe0ac;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

.serif {
    font-family: 'Rufina', serif;
}

h4 .dot {
    margin: 1rem;
    background-color: #2fe0ac!important;
    width: 8px!important;
    height: 8px!important;
  }

.exp ul {
    padding-left: 1.6rem;
    margin: 0;
    list-style-type: circle;
}

h6 {
    letter-spacing: 0.1em;
    font-size: 0.9rem;
}

.spacing {
    font-size: .8rem!important;
    letter-spacing: 0.08em!important;
}
 
.mrg-top-btm {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;
}

.mrg-btm {
    margin-bottom: 10rem;
}

.mobile-hr {
    display: none;
}

.footer {
    margin-top: 12.5rem;
    margin-bottom: 4rem;
}

.footer a {
    text-decoration: none;
    color: #000;
}
.footer a:hover {
    color: #2fe0ac!important;
    transition: all 0.3s linear;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 515px) {

    .hide {
        display: none;
    }

    #work li a {
        font-size: 1.95rem!important;
    }

    .shadow-onscroll {
        background-color: white;
        transition: all 0.2s linear;
    }

    .shadow-onscroll.active {
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    }

    .logo {
        width: 65px!important;
    }

    .nav-link {
        padding: 0 1.5rem!important;
    }

    .mobile-br {
        display: block;
    }

    .mobile-hr {
        display: block;
    }

    h2 {
        font-size: 1.95rem!important;
        line-height: 3rem!important;
    }

    h3 {
        font-size: 1.75rem!important;
        line-height: 3rem!important;
    }

    h4 {
        line-height: 2.5rem!important;
    }

    .footer a {
        color: #2fe0ac!important;
} 

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    .navbar-brand {
        width: 70px;
    }

    .work-li {
        padding-left: 0px;
    }

    .shadow-onscroll {
        background-color: white;
        transition: all 0.2s linear;
    }

    .shadow-onscroll.active {
        box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.1);
    }

    .tablet-br {
        display: block;
    }

    .dot {
        height: 4px;
        width: 4px;
      }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

}